body{
	color: #FFFADE;
	margin: 0px;
}

.movie{
	box-sizing: border-box;
	min-height: 50px;
	margin: 0px 5px 3px 5px;
	padding: 10px;
	border: 2px solid #49BEA1;
	border-radius: 10px;
	font-size: 24px;
	display: flex;
	justify-content: space-between;

	&:nth-child(even){
		background-color: #3440af;
	}

	&:hover{
		border: 2px solid black;
	}
}

.paginationContainer{
	display: flex;
	justify-content: center;
	padding: 10px 0px;

	.paginationLink{
		width: 30px;
		height: 30px;
		border: 1px solid #49BEA1;
		border-radius: 10px;
		margin: 0px 3px;

		cursor: pointer;

		text-align: center;
		line-height: 30px;

		&:hover{
			border: 1px solid black;
		}
	}
}

.loginModalFullscreen{
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: #ccccccbb;
	display: flex;
	justify-content: center;
	align-items: center;

	.loginModalWindow{
		padding: 15px;
		background-color: #938BB7;
		width: 200px;
		height: 85px;
		border-radius: 15px;
		font-weight: bold;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
}

@media (min-width: 320px){
	.container{
		background-color: #3A49D6;
		margin-left: auto;
		margin-right: auto;
		
		header{
			text-align: center;
		}

		h1{
			font-size: 40px;
			margin: 0px;
		}
		h4{
			margin: 0px 0px 10px;
		}
	}

	.utilities{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 80px;

		.addNew{
			#addNewMovie{
				margin-left: 5px;
			}
		}
	}
}

@media (min-width: 550px){
	h1{
		font-size: 60px;
	}

	.utilities{
		flex-direction: row;
	}
}

@media (min-width: 840px){
	.container{
		width: 800px;
		padding: 20px;
	}
}